.navbar{
    background:white;
    color:#0f172a;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 50px;
}
.navbar h2 {
    font-size:24px;
    color: #0f172a;
}
.navbar ul{
    display:flex;
    gap:30px;
    cursor:pointer;
    list-style:none;
}